<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a new location</title>
</head>
<body>
    <h3>Add a new location</h3>
    <form action= {{ url_for("create_poll") }} method="post">
        <label for="poll">
            Area:
            <input type="text" name="area" placeholder="Area">
        </label><br>

        <label for="option1">
            Location:
            <input type="text" name="location" placeholder="Location">
        </label><br>

        <input type="submit" value="Create">
        
    </form>
</body>
</html>