<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Capitempo - {{ poll['location'] }}</title>
    <link rel="stylesheet" href={{ url_for('static', filename='css/index.css') }}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mina:wght@400;700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        var socket = io();
        socket.on('refresh', function (){
            location.reload();
        })
    </script>

</head>
<body>
    <h2>{{ poll['location'] }} ( {{ poll['area'] }} )</h2>
    <br>
    <h3><p>Nuvens: {{ poll['c_pollResult'] }} &emsp; ({{ poll['c_highestPercentage'] }})</p></h3>
    <form method="POST" action="">
        <input type="checkbox" value="No" name="cloudList")> {{ poll['c_noOption'] }} ({{ poll['c_votesNo'] }} votos)
        <input type="checkbox" value="Low" name="cloudList")> {{ poll['c_lowOption'] }} ({{ poll['c_votesLow'] }} votos)
        <input type="checkbox" value="Avg" name="cloudList")> {{ poll['c_avgOption'] }} ({{ poll['c_votesAvg'] }} votos)
        <input type="checkbox" value="High" name="cloudList")> {{ poll['c_highOption'] }} ({{ poll['c_votesHigh'] }} votos)

        <p>Total de votos:  {{ poll['c_votesTotal'] }}
        <br>
        <br>
        <h3><p>Chuva: {{ poll['r_pollResult'] }} &emsp; ({{ poll['r_highestPercentage'] }})</p></h3>

        <input type="checkbox" value="No" name="rainList")> {{ poll['r_noOption'] }} ({{ poll['r_votesNo'] }} votos)
        <input type="checkbox" value="Low" name="rainList")> {{ poll['r_lowOption'] }} ({{ poll['r_votesLow'] }} votos)
        <input type="checkbox" value="Avg" name="rainList")> {{ poll['r_avgOption'] }} ({{ poll['r_votesAvg'] }} votos)
        <input type="checkbox" value="High" name="rainList")> {{ poll['r_highOption'] }} ({{ poll['r_votesHigh'] }} votos)

        <p>Total de votos:  {{ poll['r_votesTotal'] }}
        <br>
        <p><input type="submit" value="Confirmar votos"></p>
        <p><a href = {{ url_for("index") }}>Voltar</a></p>
    </form>
</body>
</html>